<!DOCTYPE html>
<html lang="pt-br" xmlns="https://www.w3.org/1999/xhtl" layout:decorate="~{layout}">

<head>
    <style>
        .boot {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
        }
    </style>
    <meta charset="UTF-8">
    <title>Atenção</title>
</head>

<body class="">

    <section class="layout-content" layout:fragment="conteudo">

        <img alt="acesso" src="https://thumbs.dreamstime.com/b/acesso-negado-88074414.jpg"><br>
        <a href="/logout"><b>Clique aqui para Sair</b></a>
        

    </section>    
</body>

</html>